
.wrapper {
    width: 420px;
    background: rgb(255, 255, 255);
    color: rgb(137, 210, 220);
    border-radius: 10px;
    padding: 20px;
    margin: auto; 
    border: 2px solid rgb(137, 210, 220); 
    margin-top: 100px;
}

.wrapper h1 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px; 
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 40px;
    background: rgb(255, 255, 255);
    border-radius: 30px;
    margin: 20px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(137, 210, 220);
    border-radius: 40px;

    font-size: 16px;
    color: #000000;

    padding: 20px 45px 20px 20px;

}

.input-box input::placeholder{
    /* color of "Username" and "Password"*/
    color: rgb(0, 0, 0);
}

.input-box .icon{
    /* for username and password icons positions/size*/
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

.wrapper .remember-forgot {
    /* size/position of remember me & forgot password*/
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #000000;
    margin-right: 4px;
}

.remember-forgot a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper button {
    /* login button*/
    width: 100%;
    height: 45px;
    background: rgb(137, 210, 220);;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color:#ffffff;
    font-weight: 700;
}

.wrapper button:hover {
    background: rgb(120, 180, 200); 
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.register-link p a {
    color: #000000;
    text-decoration: none;
}

.register-link p a:hover {
    text-decoration: underline;
}

/* Added styles for the error message */
.error-message {
    color: red; /* Set the color of the error message to red */
    font-size: 14.5px; /* Consistent font size with other labels */
    text-align: center; /* Center the error message */
    margin-bottom: 15px; /* Add some space below the error message */
    font-weight: 600; /* Make the error message stand out a bit */
}
