# Ignore Python cache files
*.pyc
__pycache__/

# Ignore the virtual environment
adventurejournal_env/
.venv/
backend/.venv2/

# Ignore node_modules (for the frontend)
frontend/node_modules/

#databases
db.sqlite3