.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    background-color: rgb(137, 210, 220);
    display: flex;
    justify-content: space-between; 
    align-items: flex-end;
    padding: 20px;
    box-sizing: border-box; 
    margin-top: auto;
    margin-bottom: 0;
}

.logo {
    max-width: 75px;
    max-height: 75px;
    margin-top: 30px;
    margin-left: 15px; 
    margin-bottom: 0px; 
}

.copyright {
    text-align: right;
    margin-right: 20px; 
    margin-bottom: 10px; 
    font-size: 14px; 
}
