.Header {
    display: flex;
    justify-content: space-evenly;
    background-color: #d6c9f7;
    margin-bottom: 15px;
    border-bottom: 1px solid;
    position: sticky; 
    top: 0; /* Stick it to the top */
    z-index: 1000; /* Ensure it stays above other content */
    padding: 15px 0; /* Padding for header */
}

.topButton {
    width: 100%;
    padding: 10px 50px; 
    border: none;
    color: black;
    font-size: 18px;
    background-color: transparent;
    cursor: pointer;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.topButton:hover {
    background-color: rgb(140, 153, 255);
    color: white;
}
