.Header {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    margin-bottom: 15px;
    border-bottom: 1px solid;
    position: relative; 
    padding: 15px 20px; /* Padding for header */
}

.topButton {
    width: 100%;
    padding: 10px 50px; 
    border: none;
    color: black;
    font-size: 18px;
    background-color: transparent;
    cursor: pointer;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.topButton:hover {
    background-color: rgb(212, 250, 255);
    color: rgb(0, 0, 0);
}
